@{
    ViewData["Title"] = "Home Page";
    IList<NationalPark> parks = (IList<NationalPark>)ViewData["get-parks"];
}

<section class="logo">
    <img src="~/images/logo.png" />
</section>

<h1>National Park Geek</h1>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name:</th>
            <th>Location:</th>
            <th>Description:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (NationalPark park in parks)
        {
            <tr>
                <td> <a asp-controller="home" asp-action="detail" asp-route-parkCode="@park.ParkCode"><img src=@Url.Content($"~/images/parks/{park.ParkCode}.jpg") alt="@park.ParkName" /> </a></td>
                <td> <a asp-controller="home" asp-action="detail" asp-route-parkCode="@park.ParkCode" />@park.ParkName</td>
                <td>@park.State</td>
                <td>@park.ParkDescription</td>
            </tr>
        }



    </tbody>
</table>